# Ignore build folders
build-*/
build/

# Ignore CMake cache and outputs
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
CMakeOutput.log

# Ignore Windows artifacts
*.exe
*.dll
*.obj

# Ignore Linux artifacts
*.o
*.so

# Ignore IDE config
.vscode/
.idea/
.qt/
_deps/
.venv/

#Logs and test results
Testing/
logs/

#internal files
all_do.sh
devtools/
buildfiles/
